## Data Cleaning & Preprocessing

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### 1. Load Data

In [2]:
print("="*70)
print("STEP 1: LOADING DATA")
print("="*70)
data = pd.read_csv('salaries.csv')
print(f"✓ Data loaded successfully: {data.shape[0]} rows, {data.shape[1]} columns")
print("\nInitial columns:", list(data.columns))
print("\nFirst few rows:")
print(data.head())

======================================================================
STEP 1: LOADING DATA
======================================================================
✓ Data loaded successfully: 105434 rows, 11 columns

Initial columns: ['work_year', 'experience_level', 'employment_type', 'job_title', 'salary', 'salary_currency', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']

First few rows:
   work_year experience_level employment_type      job_title  salary  \
0       2025               EN              FT   Data Analist   65664
1       2025               EN              FT   Data Analist   47652
2       2025               EN              FT  Data Engineer  158113
3       2025               EN              FT  Data Engineer   87795
4       2025               EX              FT  Data Engineer  351410

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             EUR          69120                 NL             0
1             EUR          50160                 NL             0
2             USD         158113                 US             0
3             USD          87795                 US             0
4             USD         351410                 US             0

  company_location company_size
0               NL            M
1               NL            M
2               US            M
3               US            M
4               US            M

### 2.Drop Unnecessary Columns

In [3]:
print("\n" + "="*70)
print("STEP 2: DROPPING UNNECESSARY COLUMNS")
print("="*70)
columns_to_drop = ['salary', 'salary_currency']
print(f"Dropping columns: {columns_to_drop}")
data = data.drop(columns_to_drop, axis=1)
print(f"✓ Columns dropped. Remaining columns: {list(data.columns)}")
print(f"✓ New shape: {data.shape[0]} rows, {data.shape[1]} columns")

======================================================================
STEP 2: DROPPING UNNECESSARY COLUMNS
======================================================================
Dropping columns: ['salary', 'salary_currency']
✓ Columns dropped. Remaining columns: ['work_year', 'experience_level', 'employment_type', 'job_title', 'salary_in_usd', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']
✓ New shape: 105434 rows, 9 columns

### 3.Check for Missing Values

In [4]:
print("\n" + "="*70)
print("STEP 3: CHECKING FOR MISSING VALUES")
print("="*70)
missing_values = data.isnull().sum()
print("\nMissing values per column:")
print(missing_values)
if missing_values.sum() == 0:
    print("\n✓ No missing values found in the dataset!")
else:
    print(f"\n⚠ Total missing values: {missing_values.sum()}")

======================================================================
STEP 3: CHECKING FOR MISSING VALUES
======================================================================

Missing values per column:
work_year             0
experience_level      0
employment_type       0
job_title             0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

✓ No missing values found in the dataset!

### 4.Handle Rare Job Titles

In [5]:
print("\n" + "="*70)
print("STEP 4: HANDLING RARE JOB TITLES")
print("="*70)
print("Grouping job titles that appear less than 5 times into 'Other' category...")

# Count job title occurrences
job_counts = data['job_title'].value_counts()
print(f"\nTotal unique job titles before grouping: {len(job_counts)}")

# Identify rare jobs (appearing <5 times)
rare_jobs = job_counts[job_counts < 5].index
print(f"Number of rare job titles (< 5 occurrences): {len(rare_jobs)}")

if len(rare_jobs) > 0:
    print(f"\nExamples of rare job titles being grouped:")
    print(list(rare_jobs[:10]))  # Show first 10 examples

    # Group rare jobs into 'Other'
    data.loc[data['job_title'].isin(rare_jobs), 'job_title'] = 'Other'

    # Count after grouping
    job_counts_after = data['job_title'].value_counts()
    print(f"\n✓ Total unique job titles after grouping: {len(job_counts_after)}")
    print(f"✓ Rows labeled as 'Other': {(data['job_title'] == 'Other').sum()}")
else:
    print("✓ No rare job titles found (all titles appear >= 5 times)")

======================================================================
STEP 4: HANDLING RARE JOB TITLES
======================================================================
Grouping job titles that appear less than 5 times into 'Other' category...

Total unique job titles before grouping: 347
Number of rare job titles (< 5 occurrences): 106

Examples of rare job titles being grouped:
['Cloud Data Engineer', 'Tableau Developer', 'Backend Developer', 'Technical Support Specialist', 'Java Developer', 'Financial Data Analyst', 'Data Reporter', 'Business Development Representative', 'Data Analytics Business Partner', 'Data Integrity Specialist']

✓ Total unique job titles after grouping: 242
✓ Rows labeled as 'Other': 216

### 5.Data Summary After Cleaning

In [6]:
print("\n" + "="*70)
print("STEP 5: DATA SUMMARY AFTER CLEANING")
print("="*70)
print("\nDataset Info:")
print(data.info())

print("\n" + "-"*70)
print("Statistical Summary:")
print(data.describe())

print("\n" + "-"*70)
print("Categorical Variable Distributions:")
print("\n1. Experience Level:")
print(data['experience_level'].value_counts())

print("\n2. Employment Type:")
print(data['employment_type'].value_counts())

print("\n3. Top 10 Job Titles:")
print(data['job_title'].value_counts().head(10))

print("\n4. Company Size:")
print(data['company_size'].value_counts())

print("\n5. Top 10 Employee Residence Countries:")
print(data['employee_residence'].value_counts().head(10))

print("\n6. Top 10 Company Location Countries:")
print(data['company_location'].value_counts().head(10))

======================================================================
STEP 5: DATA SUMMARY AFTER CLEANING
======================================================================

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105434 entries, 0 to 105433
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           105434 non-null  int64
 1   experience_level    105434 non-null  object
 2   employment_type     105434 non-null  object
 3   job_title           105434 non-null  object
 4   salary_in_usd       105434 non-null  int64
 5   employee_residence  105434 non-null  object
 6   remote_ratio        105434 non-null  int64
 7   company_location    105434 non-null  object
 8   company_size        105434 non-null  object
dtypes: int64(3), object(6)
memory usage: 7.2+ MB
None

----------------------------------------------------------------------
Statistical Summary:
           work_year  salary_in_usd   remote_ratio
count  105434.000000  105434.000000  105434.000000
mean     2024.188981  158018.514179      21.103249
std         0.669665   74401.714026      40.714744
min      2020.000000   15000.000000       0.000000
25%      2024.000000  106400.000000       0.000000
50%      2024.000000  147000.000000       0.000000
75%      2025.000000  199000.000000       0.000000
max      2025.000000  800000.000000     100.000000

----------------------------------------------------------------------
Categorical Variable Distributions:

1. Experience Level:
experience_level
SE    61396
MI    31802
EN     9938
EX     2298
Name: count, dtype: int64

2. Employment Type:
employment_type
FT    104865
PT       285
CT       268
FL        16
Name: count, dtype: int64

3. Top 10 Job Titles:
job_title
Data Scientist               14938
Data Engineer                12392
Software Engineer            11635
Data Analyst                 10024
Machine Learning Engineer     7169
Engineer                      6862
Manager                       4686
Analyst                       2882
Research Scientist            2833
Applied Scientist             1931
Name: count, dtype: int64

4. Company Size:
company_size
M    102200
L      3021
S       213
Name: count, dtype: int64

5. Top 10 Employee Residence Countries:
employee_residence
US    94777
CA     3986
GB     2954
AU      373
DE      302
FR      283
NL      281
LT      266
ES      233
AT      221
Name: count, dtype: int64

6. Top 10 Company Location Countries:
company_location
US    94834
CA     3987
GB     2962
AU      378
DE      311
NL      281
FR      278
LT      266
ES      229
AT      221
Name: count, dtype: int64

### 6.Save Cleaned Data

In [7]:
print("\n" + "="*70)
print("STEP 6: SAVING CLEANED DATA")
print("="*70)
output_file = 'salaries_cleaned.csv'
data.to_csv(output_file, index=False)
print(f"✓ Cleaned data saved to: {output_file}")
print(f"✓ Final dataset shape: {data.shape[0]} rows, {data.shape[1]} columns")

======================================================================
STEP 6: SAVING CLEANED DATA
======================================================================
✓ Cleaned data saved to: salaries_cleaned.csv
✓ Final dataset shape: 105434 rows, 9 columns

### 7.Summary Report

In [8]:
print("\n" + "="*70)
print("DATA CLEANING SUMMARY REPORT")
print("="*70)
print(f"{'Step':<40} {'Status':<10}")
print("-"*70)
print(f"{'1. Load data':<40} {'✓ Done':<10}")
print(f"{'2. Drop unnecessary columns':<40} {'✓ Done':<10}")
print(f"{'3. Check missing values':<40} {'✓ Done':<10}")
print(f"{'4. Group rare job titles':<40} {'✓ Done':<10}")
print(f"{'5. Data validation':<40} {'✓ Done':<10}")
print(f"{'6. Save cleaned data':<40} {'✓ Done':<10}")
print("="*70)
print("\n✓ DATA CLEANING COMPLETE!")
print("="*70)
print(f"\nCleaned dataset ready for modeling:")
print(f"  • File: {output_file}")
print(f"  • Rows: {data.shape[0]:,}")
print(f"  • Columns: {data.shape[1]}")
print(f"  • Target variable: salary_in_usd")
print(f"  • No missing values")
print(f"  • Rare job titles grouped into 'Other'")

======================================================================
DATA CLEANING SUMMARY REPORT
======================================================================
Step                                     Status
----------------------------------------------------------------------
1. Load data                             ✓ Done
2. Drop unnecessary columns              ✓ Done
3. Check missing values                  ✓ Done
4. Group rare job titles                 ✓ Done
5. Data validation                       ✓ Done
6. Save cleaned data                     ✓ Done
======================================================================

✓ DATA CLEANING COMPLETE!
======================================================================

Cleaned dataset ready for modeling:
  • File: salaries_cleaned.csv
  • Rows: 105,434
  • Columns: 9
  • Target variable: salary_in_usd
  • No missing values
  • Rare job titles grouped into 'Other'